$second-font: 'inter';
$primary-color: #003459;
$dark-blue-1: #0078CD;
$dark-blue-2: #00528C;
$dark-blue-3: #002A48;
$main-text__color: #00171F;
$description-color: #242B33;
$secondary-color: #F7DBA7;
$gray-text: #667479;
